* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scrollableContent {
  height: 100vh;
  overflow-y: scroll;
}

/* Estilo da barra de rolagem para WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do "polegar" da barra de rolagem */
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do "polegar" ao passar o mouse */
}

/* Estilo da barra de rolagem para Firefox */
scrollbar-width: thin; /* Espessura da barra de rolagem */
scrollbar-color: #888 #f1f1f1; /* Cor do "polegar" e trilha da barra de rolagem */

